.container-1 {
    display: flex;
}

.container-2 {
    display: flex;
}

.container-1 div{
    border: 1px solid grey;
    padding: 75px;
    margin-top: 25%;
}

.container-2 div{
    border: 1px solid grey;
    padding: 110px;
}

.box-1 {
    flex:2
}
.box-2 {
    flex:2
}

.box-3 {
    flex:2
}
.box-4 {
    flex:4
}
.box-5 {
    flex:4
}